# ------------------------
# Python
# ------------------------
backend/venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ------------------------
# Environment Variables
# ------------------------
.env
backend/.env

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# Node
# ------------------------
frontend/node_modules/

# ------------------------
# Build
# ------------------------
dist/
build/

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db